<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    

    </startup>

 <connectionStrings>

   <add name = "DbOracle" connectionString=  "Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.0.0.3)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=XE)));User Id=Fryann;Password=harold;"/>


   <!--Data Source=localhost:1521/XE;Persist Security Info=True;User ID=scott;Password=tiger;Unicode=True-->

          <!--  <add name = "DbOracle" connectionString="user id=Fryann;password=harold;data source=dbBanco"/>-->
   <!--Data Source=urOracle;User Id=Fryan;Panssword=harold;DBA Privilege=SYSDBA;-->

<!--KPI_SERVER =
(DESCRIPTION =
(ADRESS _LIST=
(ADRESS =
(COMUNITY = TCP)
( PROTOCOL = TCP)
(HOST=77.47.134.131)
(PORT =1521)	
)
)
(CONNECT_DATA =(SID =XE))
)-->
 </connectionStrings>
  <!--Data Source=urOracle;User Id=urUsername;Password=urPassword;DBA Privilege=SYSDBA;-->
  <!--<ConnectionStrings>
      <Add name = "infopuerto-pc" connectionString = "Server=infopuerto-pc;Database=actividad;User ID=programador;Password=bijrd0303" />
    </ConnectionStrings>
  -->
</configuration>